* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Css general */
.white {
    color: #fff;
    opacity: 0.9;
}

.btn.active i{
    color: #f84242 !important;
}

.song.active {
    background-color: #f84242 !important;
}

.song.active .body,
.song.active .option {
    color: #fff;
}

.player {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff !important;
    background-image: linear-gradient( 180deg, rgba(2, 95, 138, 0.5), rgba(0, 0, 0, 1));
    z-index: 999;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h4 {
    color: #f84242;
}

.cd {
    width: 200px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd .cd-thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    /* box-shadow: 2px 2px 2px 2px #ccc; */
}

.controls {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.controls .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls .btn-toggle-play {
    font-size: 30px;
    background-color: #f84242;
    color: #fff;
    border-radius: 50%;
    position: relative;
}

.control .btn-backward-step,
.control .btn-forward-step {
    color: #fff
}

.controls .btn-toggle-play .icon-play,
.controls .btn-toggle-play .icon-pause {
    position: absolute;
    transform: translateX(10%);
}

.progress {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

.progress::-webkit-slider-runnable-track {
    background: #e4e3e3;
    height: 0.5rem;
    border-radius: 5px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3%;
    height: 100%;
    background-color: #f06a11;
}

.progress {
    margin-top: 40px;
    width: 100%;
}

/* Playlist */
.playlist {
    margin-top: 420px;
    padding: 12px;
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.playlist .song {
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    background: rgba(56, 56, 56, 0.9);
    /* box-shadow: 2px 2px 4px#ccc; */
    border-radius: 5px;
    margin-bottom: 12px;
}

.song .body,
.song .option {
    color: #fff;
    opacity: 0.9;
}

.song .body .author {
    color: #ccc;
}

.playlist .song:active {
    opacity: 0.7;
}

.playlist .song .thumb {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: 50% 50% no-repeat;
    background-size: cover;
}

.playlist .body {
    width: 80%;
    margin-left: 20px;
}

.playlist .option i {
    line-height: 40px;
    font-size: 24px;
}
